Broken Ambix Reference

The link for https://aomediacodec.github.io/iamf/#biblio-ambix is broken:
https://iem.kug.ac.at/fileadmin/media/iem/projects/2011/ambisonics11_nachbar_zotter_sontacchi_deleflie.pdf

I found it here, but I'm not sure if this will last longer than the original link

https://www.researchgate.net/publication/266602800_AMBIX_-A_SUGGESTED_AMBISONICS_FORMAT

Thanks. It's not desirable to have a normative reference to a unstable, unreliable reference.

If we add authors/publication the citation should be unambiguous whether or not the link works at that particular time.

Sounds good, I also like @tdaede's suggestion of adding authors/publications

It's not current practice in standards to have to rely on non-reliable sites. Identifying precisely the publication is not sufficient. I would suggest considering these options:
1. define directly in the spec whatever is required from that paper (and not reference the paper at all)
2. host the paper on AOM and update the reference
3. use a reference to the same information on a trusted standards organization site (ISO, W3C, ETSI, IETF, ...) 

@felicialim can you folloe up Cyril's suggestions?

Also whichever option we choose be careful with defining [`channel_mapping`](https://aomediacodec.github.io/iamf/#channel_mapping).

`channel_mapping` depends normatively on [RFC 8486  §3.1](https://datatracker.ietf.org/doc/html/rfc8486#section-3.1) which also has a normative reference to the same broken Ambix link.



Looks like ACN and SN3D are both defined in the ADM spec (https://www.itu.int/dms_pubrec/itu-r/rec/bs/R-REC-BS.2076-2-201910-I!!PDF-E.pdf). I created #790 to use this reference instead.